<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-On</title>
</head>

<body>
    <div id="von">
        <input type="text" name="" id="" placeholder="Filtro da bandidagem" v-on:keyup="filterPersons">
        <hr>
        <ul>
            <li v-for="person in personsFiltred">{{ person }}</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6"></script>
    <script>
        let app = new Vue({
            el: '#von',
            data: {
                persons: ['Zaroio', 'Buiu', 'Zoreia', 'Maikao', 'Neguin', 'Bucha', 'Travesti', 'Ananias', 'Sergin', 'Robinho', 'Boca', 'Zeca'],
                personsFiltred: []
            },
            methods: {
                filterPersons() {
                    this.personsFiltred = this.persons.filter(name => {
                        return name.toUpperCase().includes(event.target.value.toUpperCase())
                    })
                },
            },
            created() {
                this.personsFiltred = this.persons
            }

        })
    </script>
</body>

</html>