<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Methods</title>
</head>

<body>
    <div id="methods">
        <h2>Nome: {{ person.firstName }} {{ person.lastName }}</h2>
        <h2>Nome completo: {{ fullName }}</h2>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6"></script>
    <script>
        let app = new Vue({
            el: '#methods',
            data: {
                person: {
                    firstName: 'Djalma',
                    lastName: 'Sindeaux'
                }
            },
            computed: {
                fullName: function() {
                    return `${this.person.firstName} ${this.person.lastName}`
                        //return this.person.name + ' ' + this.person.lastName
                }
            }
        })
    </script>
</body>

</html>