<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Life Cycle</title>
</head>

<body>
    <div id="filters">
        <h1>Hello {{ name }}</h1>
        <h1>Hello {{ name | upper }}</h1>
        <h2>O meu salário é: {{ salary | real}}</h2>
        <input type="text" name="salario" id="" placeholder="Digite seu salário" v-model="salary">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6"></script>
    <script>
        let app = new Vue({
            el: '#filters',
            data: {
                name: 'HCode Treinamentos',
                salary: 0,
            },
            filters: {
                upper: function(value) {
                    return value.toUpperCase();
                },
                real: function(value) {
                    return `R$ ${parseInt(value).toFixed(2)}`;
                }
            }
        })
    </script>
</body>

</html>