<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Life Cycle</title>
</head>

<body>
    <div id="lifecycle">
        <h1>Hello {{ name }}</h1>
        <ul>
            <li v-for="state in states">{{ state.nome }}</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6"></script>
    <script>
        let app = new Vue({
            el: '#lifecycle',
            data: {
                name: 'HCode treinamentos',
                states: []
            },
            beforeCreate() {
                console.log('beforeCreate');
            },
            created() {
                console.log('created');
                fetch('https://servicodados.ibge.gov.br/api/v1/localidades/estados').then(response => {
                    response.json().then(data => {
                        this.states = data;
                    })
                }).catch(err => {
                    console.log(err);
                })
            },
            beforeMount() {
                console.log('beforeMount');
            },
            mounted() {
                console.log('mounted');
            },
            beforeUpdate() {
                console.log('beforeUpdate');
            },
            updated() {
                console.log('updated');
            },
            beforeDestroy() {
                console.log('beforeDestroy');
            },
            destroy() {
                console.log('destroy');
            },
        })
    </script>
</body>

</html>