<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Methods</title>
</head>

<body>
    <div id="methods">
        {{message}}<br>
        <input type="text" name="" id="" placeholder="ditite uma msg" v-on:blur="replaceMessage($event.target.value)">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6"></script>
    <script>
        let app = new Vue({
            el: '#methods',
            data: {
                message: 'Mensagem!'
            },
            methods: {
                reverseMessage: function() {
                    this.message = this.message.split('').reverse().join('')
                },
                replaceMessage(newMessage) {
                    this.message = newMessage;
                }
            }
        })
    </script>
</body>

</html>